<!--product_collect_item-->
<div class="cf" style="width:100%;" id="id_product_collect_item_::id::">
    <div style="float:left;margin-right:20px;">
    <a href="::url_for('@product_collect_view?collect_id=::id::')::">::name::</a> <br><br><br>
    <a href="::url_for('@product_collect_view?collect_id=::id::')::">::image_big::</a><br><br>
    </div>
    <div style="float:left;">
        <br><br><br>
        <del>::compare_at_price::</del><br>
        ::price::<br>
        <hr>
        <br><br><br>
        ::short_text::
        <br><br><br>
        <hr>
        <a href="::url_for('@product_collect_view?collect_id=::id::')::"><gml>View Product</gml></a><br>
        <button type="button" onclick="ProductCollectCompare.add(::id::)"><gml>Összehasonlítás</gml></button><br><br>
        <!--favourite[add]-->
        <button type="button" onclick="UserFavouriteProductCollect.add(::id::)"><gml>Kedvencekhez</gml></button>
        <!--favourite[add]-->
        <!--favourite[remove]-->
        <button type="button" onclick="UserFavouriteProductCollect.remove(::id::)"><gml>Eltávolítás a kedvencek közül</gml></button>
        <!--favourite[remove]-->
        
    </div>
</div>
<!--product_collect_item-->
