<form method="post" id="id_product_collect_checkbox_properties_form">
    <input type="hidden" id="id_product_collect_property_name_id" name="product_collect_property_name_id" value="::product_collect_property_name_id::">    
    <ul>
        <!--checkbox_properties-->
        <li>
            <input type="checkbox" name="checkbox_properties[::id::]" ::checked::> ::name::
        </li>
        <!--checkbox_properties-->
    </ul>
    <button type="button" onclick="ProductCollect.savePropertiesCheckbox()"><gml>Mentés</gml></button>
</form>
